 /* Dark background color:  #1f2937
   Hero text:  48px #f9faf8 900
   Hero secondary, header link:  18px #e5e7eb
   Header logo: 24px  #f9faf8
   Button color, call background:  #3882f6
   Info header:  36px #1f2937 900
   Quote section bg:  #e5e7eb    
   Quote: 36px li-it #1f2937 */

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    background-color: #1f2937;
}

.header-nav {
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.header-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header-nav a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    flex-basis: 50%;
    background-color: #1f2937;
    height: 400px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
}

.hero-content h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 4px;
}

.hero-content p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-content button {
    font-size: 18px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: #e5e7eb;
    padding: 9px;
    border-radius: 6%;
}

.hero-image {
    display: flex;
    height: 300px;
    width:  400px;
    border: transparent solid 1px;
    border-radius: 10px;
    align-self: center;
    margin-left: 30px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.main-head {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.main-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-content-action {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.main-content-action p {
    height: 100px;
}

.main-content-action img {
    display: flex;
    width: 200px;
    height: 200px;
    border: #3882f6 solid 6px;
    border-radius: 6px;
}

.big-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #e5e7eb;
}

.big-quote {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    font-weight: 300;
    font-size: 36px;
}